* {
  margin: 0px;
  padding: 0px;
}

ul, li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.logo {
  height: 124px;
  margin-left: 0px;
  img {
    height: 124px;
  }
}

.tou {
  width: 1200px;
  height: 36px;
  border-bottom: 2px solid #000;
}

.xBox {
  width: 1200px;
  border: 1px solid #ccc;
  margin-top: 10px;
  height: 410px;
  position: relative;
}

.xBox_1 {
  h3 {
    font-size: 18px;
    line-height: 38px;
    border-bottom: 1px dotted #ccc;
    width: 700px;
    height: 38px;
    margin-left: 40px;
    margin-bottom: 30px;
  }
  .name {
    float: left;
    margin-left: 98px;
    margin-top: 8px;
    margin-right: 20px;
  }
  #username {
    width: 310px;
    height: 40px;
  }
  .pass {
    float: left;
    margin-left: 85px;
    margin-top: 8px;
    margin-right: 20px;
  }
  #password {
    width: 310px;
    height: 40px;
  }
  .yan {
    float: left;
    margin-left: 111px;
    margin-top: 8px;
    margin-right: 20px;
  }
  #yanzheng {
    width: 160px;
    height: 40px;
  }
  .btn {
    width: 190px;
    margin-left: 165px;
    font-size: 20px;
    line-height: 30px;
    background: red;
  }
  .form-group {
    position: relative;
    margin-bottom: 40px;
  }
  span {
    position: absolute;
    left: 505px;
    top: 5px;
  }
}

.xBox_2 {
  position: absolute;
  left: 941px;
  top: 0px;
}

.container h4 {
  font-size: 14px;
  text-align: center;
}