#box .container { width: 1200px; }

#box .container #shangjia img { width: 280px; height: 110px; }

#box .container #shangjia ul { float: left; }

#box .container #shangjia ul li { float: left; width: 280px; height: 300px; position: relative; }

#box .container #shangjia ul .stu { float: left; width: 280px; height: 300px; }

#box .container #shangjia ul .stu img:nth-child(1) { float: left; width: 360px; height: 110px; }

#box .container #shangjia ul .stu img:nth-child(2), #box .container #shangjia ul .stu img:nth-child(3) { width: 120px; height: 110px; }

#box .container #shangjia ul .stu img:nth-child(4) { position: absolute; left: 240px; top: 110px; width: 120px; height: 110px; }

#box .container #zhidao .zdt { float: left; background: #BBBBBB; padding-left: 114px; margin-top: -50px; }

#box .container #zhidao .zdt li { width: 250px; float: left; margin-right: 0px; font-size: 20px; line-height: 48px; padding-left: 77px; }

#box .container #zhidao .zdt li:nth-child(1) { margin-left: -113px; padding-left: 0px; }

#box .container #zhidao .zdt li:nth-child(2) { margin-left: -130px; }

#box .container #zhidao .zdt li:nth-child(3) { padding-left: 0px; }

#box .container #zhidao .zdt li:nth-child(4) { margin-left: -120px; }

#box .container #zhidao .zdt li:nth-child(5) { margin-left: 0px; }

#box .container #zhidao .zdt li:nth-child(6) { margin-right: 0px; margin-left: -51px; }

#box .container #zhidao .zd { float: left; margin-left: 0px; width: 167px; }

#box .container #zhidao .zd:nth-child(1), #box .container #zhidao .zd:nth-child(2) { margin-left: -4px; }

#box .container #zhidao .zd:nth-child(3) { margin-left: 30px; }

#box .container #zhidao .zd:nth-child(4) { margin-left: 10px; }

#box .container #zhidao .zd:nth-child(5) { margin-left: 40px; }

#box .container #zhidao .zd:nth-child(6) { margin-left: 80px; }

#box .container #zhidao .zd:nth-child(7) { margin-left: 34px; }

#box .container #zhidao .zd li a { display: block; font-size: 14px; line-height: 38px; padding: 0px 12px; text-decoration: none; color: #4E4539; margin-left: -5px; }

#box .container #footer h5 { text-align: center; font-size: 16px; color: #787878; margin: 15px 0px; }

#box .container #footer .f img:nth-child(1) { margin-left: 440px; }
